nav{
    background-color: rgba(70, 6, 160, 0.747);
}

.centered{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}